
:root{
/*VARIABLES*/
  /*COLORS*/
  --grey: #454F5B;
  --black:  #161C24;
  --main:  #4295E4; /* (кнопка голубая)*/
  --white:  #FFFFFF;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content
  }
}

/*RESET*/
*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {list-style: none;}

a{
  text-decoration: none;
  color: inherit;
}

button{
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}
html{
@font-face {
  font-family: 'SF Pro Text';
  /*BOLD*/
  src: url('../fonts/SFProText-Bold.eot');
  src: url('../fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Bold.woff2') format('woff2'),
  url('../fonts/SFProText-Bold.woff') format('woff'),
  url('../fonts/SFProText-Bold.ttf') format('truetype'),
  url('../fonts/SFProText-Bold.svg#SFProText-Bold') format('svg');
  /*LIGHT*/
  src: url('../fonts/SFProText-Light.eot');
  src: url('../fonts/SFProText-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Light.woff2') format('woff2'),
  url('../fonts/SFProText-Light.woff') format('woff'),
  url('../fonts/SFProText-Light.ttf') format('truetype'),
  url('../fonts/SFProText-Light.svg#SFProText-Light') format('svg');
  /*NORMAL*/
  src: url('../fonts/SFProText-Regular.eot');
  src: url('../fonts/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Regular.woff2') format('woff2'),
  url('../fonts/SFProText-Regular.woff') format('woff'),
  url('../fonts/SFProText-Regular.ttf') format('truetype'),
  url('../fonts/SFProText-Regular.svg#SFProText-Regular') format('svg');
  /*SEMIBOLD*/
  src: url('../fonts/SFProText-Semibold.eot');
  src: url('../fonts/SFProText-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Semibold.woff2') format('woff2'),
  url('../fonts/SFProText-Semibold.woff') format('woff'),
  url('../fonts/SFProText-Semibold.ttf') format('truetype'),
  url('../fonts/SFProText-Semibold.svg#SFProText-Semibold') format('svg');

  //font-weight: 300;
  //font-style: normal;
  //font-display: swap;
  //font-weight: bold;
  font-style: normal;
  font-display: swap;
}
}

img, span, svg{display: block;}

/*MAIN*/
.container{
  //max-width: 1440px;
  margin: auto;
  position: relative;
}

.top_line{
  background-color: var(--grey);
  font-size: 16px;
  position: relative;
  line-height: 44px;
  text-align: center;
  color: var(--white);
  @include max-screen(767px){
    font-size: 12px;
    line-height: 36px;
  }
  //max-width: 1262px;
  //width: 100%;
/*  .container{
    position: relative;
  }*/
  span{
    display: inline-block;
    text-decoration: underline;
    position: absolute;
    right: 0;
    @include max-screen(768px){
      display: none;
    }
  }
}

header {
  .nav-item{
    margin-left: 32px;
    &:first-of-type{
      margin-left: 101px;
    }
  }
  .top_menu_right {
    position: absolute;
    right: 0;
    @include max-screen(768px){
      flex-direction: row;
      top: 23px;
    }
    li {
      margin-left: 34px;
      &:nth-of-type(2) {  //phone number
        margin-left: 9px; //margin to phone picture
        @include max-screen(768px) {  //display none on smartphones
          display: none;
        }
      }
    }
  }
}