
:root{
/*VARIABLES*/
  /*COLORS*/
  --grey: #454F5B;
  --black:  #161C24;
  --main:  #4295E4; /* (кнопка голубая)*/
  --white:  #FFFFFF;
  --light-blue: #F2F8FF;

}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content
  }
}

/*RESET*/
*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {list-style: none;}

a{
  text-decoration: none;
  color: inherit;
}

button{
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}
html{
@font-face {
  font-family: 'SF Pro Text';
  /*BOLD*/
  src: url('../fonts/SFProText-Bold.eot');
  src: url('../fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Bold.woff2') format('woff2'),
  url('../fonts/SFProText-Bold.woff') format('woff'),
  url('../fonts/SFProText-Bold.ttf') format('truetype'),
  url('../fonts/SFProText-Bold.svg#SFProText-Bold') format('svg');
  /*LIGHT*/
  src: url('../fonts/SFProText-Light.eot');
  src: url('../fonts/SFProText-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Light.woff2') format('woff2'),
  url('../fonts/SFProText-Light.woff') format('woff'),
  url('../fonts/SFProText-Light.ttf') format('truetype'),
  url('../fonts/SFProText-Light.svg#SFProText-Light') format('svg');
  /*NORMAL*/
  src: url('../fonts/SFProText-Regular.eot');
  src: url('../fonts/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Regular.woff2') format('woff2'),
  url('../fonts/SFProText-Regular.woff') format('woff'),
  url('../fonts/SFProText-Regular.ttf') format('truetype'),
  url('../fonts/SFProText-Regular.svg#SFProText-Regular') format('svg');
  /*SEMIBOLD*/
  src: url('../fonts/SFProText-Semibold.eot');
  src: url('../fonts/SFProText-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProText-Semibold.woff2') format('woff2'),
  url('../fonts/SFProText-Semibold.woff') format('woff'),
  url('../fonts/SFProText-Semibold.ttf') format('truetype'),
  url('../fonts/SFProText-Semibold.svg#SFProText-Semibold') format('svg');

  //font-weight: 300;
  //font-style: normal;
  //font-display: swap;
  //font-weight: bold;
  font-style: normal;
  font-display: swap;
}
}

img, span, svg{display: block;}

/*MAIN*/
.container{
  //max-width: 1440px;
  margin: auto;
  position: relative;
}

.top_line{
  background-color: var(--grey);
  font-size: 16px;
  position: relative;
  line-height: 44px;
  text-align: center;
  color: var(--white);
  @include max-screen(767px){
    font-size: 12px;
    line-height: 36px;
  }
  //max-width: 1262px;
  //width: 100%;
/*  .container{
    position: relative;
  }*/
  span{
    display: inline-block;
    text-decoration: underline;
    position: absolute;
    right: 0;
    @include max-screen(768px){
      display: none;
    }
  }
}

header {
  .nav-item{
    margin-left: 32px;
    font-size: 20px;
    &:first-of-type{
      margin-left: 101px;
    }
  }
  .top_menu_right {
    align-items: center;
    position: absolute;
    right: 0;
    font-size: 18px;
    @include max-screen(768px){
      flex-direction: row;
      top: 12px;
    }
    li {
      margin-left: 34px;
      &:nth-of-type(2) {  //phone number
        margin-left: 9px; //margin to phone picture
        @include max-screen(768px) {  //display none on smartphones
          display: none;
        }
      }
      &:nth-of-type(1){
        @include max-screen(768px) {  //display none on smartphones
          display: none;
        }
      }
    }
  }
  .dropdown-item:hover{
    text-decoration: underline;
    transition: 0.2s;
  }
}

.main_carousel{
  padding-top: 125px;
  .owl-carousel{
    h2{
      font-size: 44px;
      line-height: 62px;
      @include max-screen(767px){
        font-size: 22px;
        line-height: 34px;
      }
    }
    p{
      font-size: 14px;
      line-height: 24px;
      @include max-screen(767px){
        display: none;
      }
    }
    span{
      font-size: 12px;
      line-height: 22px;
      margin-top: 32px;
      margin-bottom: 4px;
    }
    li{
      font-size: 24px;
      line-height: 28px;
      align-items: center;
      font-weight: bold;
      &:last-of-type{
        font-size: 22px;
        line-height: 26px;
        margin-left: 12px;
        text-decoration: line-through;
        color: #A4A4A4;
        font-weight: normal;
      }
    }
    .btn{
      width: 220px;
      height: 50px;
      text-align: center;
      background-color: var(--main);
      border-radius: 0;
      color: var(--white);
      font-size: 16px;
      line-height: 26px;
    }
  }
}


.statistics{
  background-color: var(--light-blue);
  padding: 40px 0;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey);
  span{
    display: block;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 16px;
    @include max-screen(767px){
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 8px;
    }
  }
}

.benefits{
  padding-top: 93px;
  img{
    display: inline-block;
  }
  h3{
    color: var(--black);
    font-size: 44px;
    line-height: 62px;
    margin-bottom: 56px;
    text-align: center;
    @include max-screen(767px){
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 24px;
    }
  }
  .item{
    border-right: solid 1px #C4CDD5;
    border-left: solid 1px #C4CDD5;
    text-align: center;
    padding: 24px;
    @include max-screen(767px){
      border-right: none;
      border-left: none;
      border-top: solid 1px #C4CDD5;
      border-bottom: solid 1px #C4CDD5;
      margin-bottom: 30px;
    }
    p{
      font-size: 20px;
      line-height: 32px;
      font-weight: bolder;
      color: var(--grey);
      padding-top: 37px;
      @include max-screen(767px){
        font-size: 16px;
        line-height: 26px;
        padding-top: 20px;
      }
    }
  }
  .item-2{
    p{
      padding-top: 27px;
    }
  }
}

.categories{
  padding-top: 100px;
  h3{
    color: var(--black);
    font-size: 44px;
    line-height: 62px;
    margin-bottom: 64px;
    text-align: center;
  }
}